---
import TableOfContents from './TableOfContents.astro';
import SocialShare from './SocialShare.astro';
import type { TOCItem } from "../../utils/blog";

interface Props {
  toc: TOCItem[];
}

const { toc } = Astro.props;
---

<aside class="lg:col-span-1 order-2 lg:order-1">
  <div class="sticky top-32 space-y-8">
    <TableOfContents items={toc} />
    <SocialShare />
  </div>
</aside>